global:
  imagePullSecrets: []

backend:
  replicaCount: 1
  image:
    repository: yuridevpro/todo-app-java-backend
    tag: "latest-kubernetes"
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 8080
    nodePort: 30081
  env:
    db:
      host: "" # defaults to internal postgres service when empty
      port: 5432
      name: todoapp
      user: todo
      password: todo
    allowedOrigins: http://localhost:8081
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

frontend:
  replicaCount: 1
  image:
    repository: yuridevpro/todo-app-java-frontend
    tag: "latest-kubernetes"
    pullPolicy: IfNotPresent
  service:
    type: NodePort
    port: 80
    nodePort: 30082
  env:
    apiUrl: http://localhost:30081
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: todo.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

postgres:
  enabled: true
  image: postgres:15-alpine
  username: todo
  password: todo
  database: todoapp
  service:
    port: 5432
  persistence:
    enabled: false
    size: 1Gi
    storageClass: ""
