global:
  imagePullSecrets: []

backend:
  replicaCount: 1
  image:
    repository: yuridevpro/todo-app-java-backend
    tag: "latest"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 8080
  env:
    db:
      host: db
      port: 5432
      name: todoapp
      user: todo
      password: todo
    allowedOrigins: http://localhost:8081
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

frontend:
  replicaCount: 1
  image:
    repository: yuridevpro/todo-app-java-frontend
    tag: "latest"
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
  env:
    apiUrl: http://todo-app-backend:8080
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: todo.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
